body{
	background: #555555;
}

@font-face {
  font-family: myFirstFont;
  src: url(../font/IntroCondBlackFree.otf);
}

@font-face {
  font-family: myFirstFontlight;
  src: url(../font/IntroCondLightFree.otf);
}

h1{
	font-family: myFirstFont;
}

h2{
	font-family: myFirstFontlight;
}

h1,h2,h3,p{
	color: #fff;
}

input {
	border: 3px solid orange;
	padding: 15px;
	background: #555;
	margin: 0 0 10px 0;
	color: orange;
	outline: none;
	border-radius: 5%;

}
input:hover{
	border: 3px solid white;
	background: #999;
	color: #fff;
}

input:disabled {
	border: 3px solid black;
  background: rgba(0,0,0,0.2);
	color: #000;
}

.content{
	border: 1px solid orange;
	padding: 2%;
}

.v-wrap{
    height: 100%;
    white-space: nowrap;
    text-align: center;
}
.v-wrap:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    /* adjust for white space between pseudo element and next sibling */
    margin-right: -.25em;
    /* stretch line height */
    height: 100%;
}
.v-box{
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}
